.completeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}

.headingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completeInfo{
    text-align: center;
}

.homeButton{
    background-color: #2f2f2f;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 40px;
    width: 150px;
  }
  
  .homeButton:hover {
    background-color: #9b9b9b;
  }
  
  .homeButton:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }