li{
  list-style-type: none;
  padding: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.descriptionHeader{
  margin-bottom: 2%;
}

p{
  margin-bottom: 10px;
}

.descWrapper{
  box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
  padding: 5%;  
}

.productDesc{
  white-space: pre-line;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
  
}

*{
  box-sizing: border-box;
  margin: 0;
}



li{
  list-style-type: none;
  padding: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  
}

.card{
  width: 250px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.card h4{
  margin-top: 5px;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 10px;
}

img{
  width: 100%;
}

.parent{
  flex-direction: row;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card h3{
  margin-top: 5px;
  font-weight: 450;
  padding-left: 10px;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.productRow {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.leftColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}


.productImg{
  width: 75%;
  justify-content: center;
  align-items: center;
}

.price{
  padding-top: 5px;
}

.navbar{
  box-shadow: 0 0px 10px 0px rgba(0,0,0,.2);
}

.navbar li{
  color: black;
  text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}

.cart-icon{
  margin-left: auto;
  padding-right: 50px;
}

.addToCart{
  color: black;
  margin-top: 20px;
  width: 100px;
  padding: 5px;
}

.counter{
  padding-top: 10px;
}

.counter span{
  padding: 16px;
}

.cartDiv{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
}

.shippingInfo{
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.shippingSpan{
  font-weight: 550;
}

.shippingInfoSpan{
  font-weight: 550;
  margin-bottom: 5px;
}


.contactInfoSpan{
  font-weight: 550;
  margin-bottom: 5px;		
}


.shippingDiv{
  margin-top: 15px;
  margin-bottom: 10px;
}

.usaDiv{
  display: flex;
  flex-direction: column;

}

.canadaDiv{
  display: flex;
  flex-direction: column;

}

.internationalDiv{
  display: flex;
  flex-direction: column;

}



.orderDiv{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactSpan{
  padding-bottom: 5px;
}

.shippingSpan{
  padding-bottom: 5px;
}

.checkoutForm{
  display: flex;
  flex-direction: column;
}

.checkoutContainer{
  display: flex;
  flex-direction: column;
}

.proceedDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px black solid; 
}

input:focus {
  outline: none 
}


.itemInfos{
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.modifyItem{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.modifyItem > div{
  margin: 0px 10px 10px 10px;
}

.removeBtn {
  display: flex;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #ff0000;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 0px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 31px;
  width: 70px;
}

.removeBtn:hover {
  background-color: #f7fafa;
}

.removeBtn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.checkoutBtn {
  background-color: #2f2f2f;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 40px;
  width: 100px;
}

.checkoutBtn:hover {
  background-color: #f7fafa;
}

.checkoutBtn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}



.backButton {
  background-color: #2f2f2f;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 30px;
  padding: 3px 0px 0px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 40px;
  width: 90px;
}

.backButton:hover {
  background-color: #f7fafa;
}

.backButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.proceedPayment{
  background-color: #2f2f2f;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: 40px;
  width: 150px;
}

.proceedPayment:hover {
  background-color: #f7fafa;
}

.proceedPayment:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.addButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 30px;
}

.addButton:hover {
  background-color: #f7fafa;
}

.addButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}



.minusButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 30px;
}

.minusButton:hover {
  background-color: #f7fafa;
}

.minusButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.addToCart {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 110px;
  height: 35px;
}

.addToCart:hover {
  background-color: #f7fafa;
}

.addToCart:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


.priceContainer{
  display: flex;
  flex-direction: row;
}

.infoPrice{
  display: flex;
  flex-direction: column;
}

.productDesc{
  padding: 40px;
}

.infoContainer{
  width: 100%;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}

.addToCartBtn{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.counter{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.addCounter{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productContainer img{
  border-radius: 10px;
}

.productContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.leftColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.leftColumn img{
  width: 300px;
  border-radius: 10px;
}


.parent{
  margin: 0;
  width: 100%;
  flex-direction: row;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card img{
  border-radius: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.summaryContainer{
  margin-top: 5%;
  margin-bottom: 5%;
}

.summaryItemsDiv{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryNames{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryPriceQuantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



@media only screen and (max-width: 578px){

  #menuToggle
  {
    display: block;
    position: relative;  
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }

  #menuToggle a:hover
  {
    color: tomato;
  }


  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }

  #menuToggle span
  {
    display: block;
    width: 1.5pc;
    height: 0.25pc;
    margin-bottom: 5px;
    position: relative;
    
    background: black;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: -2px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(0pc, 0pc);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }


  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }


  #menu
  {
    position: absolute;
    width: 300px;
    min-height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    display: block;
    padding: 10px 0;
    font-size: 22px;
  }

  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  .skylineLogo{
    display: hidden;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .cartIcon{
    width: 8%;
    display: flex;
    flex-direction: column;
    margin-right: -0.7%;
  }


  .navbar{
    align-items: baseline;
    padding: 7% 4% 7% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }

  .menuItems{
    display:none;
  }

  .cartDiv{
    margin: 4%;
  }

  .itemRow{
    margin: 0px 2% 0% 2%;
  }

  .eachItemRow{
    display: flex;
    flex-direction: column;
    margin: 4% 2% 4% 2%;
    padding: 5px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 4%;
  }

  .productImage{
    padding: 3% 3% 0% 3%;
  }

  .productImage img{
    width: 100%;
    border-radius: 10px;
  }

  .checkoutContainer{
    margin: 0% 4% 0% 4%;
  }

  .almostHeader{
    margin-top: 5%;
  }

  .backContainer{
    margin: 5% 0% 0% 0%;
  }

  .checkoutHeading{
    margin: 5% 0% 2% 0%;
  }

  .productContainer{
    padding-top: 7%;
  }

}


@media only screen and (min-width: 579px) and (max-width: 768px){

  .navbar{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
  }
	#menuToggle{
		display: none;
	}

	#root{
		width: 100%;
	}
	.skylineLogo{
    display: flex;
		width: 100%;
    margin-bottom: 10px;
	}

  .skylineLogo a{
		width: 30%;
		margin: 0 auto;
		margin-top: 20px;
    justify-content: center;
    align-items: center;
	}

	.cartIcon{
		width: 21px;
    margin-left: -0.5%;
    margin-top: 2px;
	}

  .yourCartText{
    font-weight: 500;
  }

	.menuItems{
		display: flex;
		padding-left: 0px;
		justify-content: center;
		align-items: center;
	}

	.menuItems li{
		font-size: medium;
	}

	.navbar{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.parent{
		flex-wrap: wrap;
	}

  .productContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  .productImg {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    width: 25%;
    order: 1
  }

  .infoContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    order: 3;
    padding: 0% 50% 0px 0%;
  }

  .productDesc{
    padding: 40px 0px 0px 40px;
    flex-basis: 50%;
    flex-grow: 1;
    order: 2  
  }

  .infoPrice{
    font-size: large;
  }

  .addToCart{
    margin-top: 0px;
  }

  .cartDiv{
    margin: 3% 2% 2% 2%;
  }

  .itemRow{
    margin: 0px 20px 0px 20px;
  }

  .eachItemRow{
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 20px;
  }

  .eachItemRow{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 15px;
  }

  .productImage{
    order: 1;
  }

  .productImage img{
    width: 230px;
    border-radius: 10px;
  }

  .itemInfos{
    order: 2;
    gap: 5px;
    justify-content: center;
  }

  .modifyItem{
    order: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .removeBtn{
    width: 103px;
  }

  .countryDrop{
		border: 1px rgb(77, 77, 77) solid; 
		border-radius: 5px;
		padding: 8px;
	}

	.regionDrop{
		border: 1px rgb(77, 77, 77) solid; 
		border-radius: 5px;
		padding: 8px;
	}

	.countryDrop:focus{
		outline: none;
	}

	.regionDrop:focus{
		outline: none;
	}

  .checkoutContainer{
    margin: 5% 2% 0% 2%;
  }

  .formContainer{
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 4% 10% 4% 10%;
    padding: 2%;
  } 

  .checkoutHeading{
    margin-left: 2%;
  }

  .backContainer{
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .almostHeader{
    margin: 2% 0% 0% 1%;
  }

  .secureNote{
    margin: 0% 0% 2% 1%;
  }

  .cardElement{
    margin: 0% 2% 0% 2%;
  }

  .cardForm{
    margin: 1%;
  }
}



@media only screen and (min-width: 769px){

  .yourCartText{
    display: none;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
  }
	#menuToggle{
		display: none;
	}

	#root{
		width: 100%;
	}
	.skylineLogo img{
    display: flex;
    width: 200px;
	}

  .cartIcon{
    margin-left: auto;
  }

	.cartIcon img{
		width: 30px;
    margin-left: -0.5%;
    margin-top: 2px;
	}

  .yourCartText{
    font-weight: 500;
  }

	.menuItems{
		justify-content: center;
		align-items: center;
    margin-left: 5%;
	}

	.menuItems li{
		font-size: medium;
  }

  ul{
    padding-inline-start: 0px;
  }

  .parent{
		flex-wrap: wrap;
    padding: 40px 10px 0px 10px;
	}

  .productContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 40px 40px 100px;

  }

  .productImg {
    display: flex;
    width: 350px;
    order: 1
  }

  .infoContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-grow: 1;
    order: 3;
    margin-top: 2%;
    padding: 0px 0px 0px 0px;
    gap: 3%;
  }

  .productDesc{
    padding: 0px 40px 0px 40px;
    flex-basis: 35%;
    flex-grow: 1;
    order: 2;
  }

  .infoPrice{
    font-size: larger;
  }

  .addToCart{
    margin-top: 0px;
  }

  .cartDiv{
    margin: 4% 8% 0% 8%;
    font-size: large;
  }

  .itemRow{
    margin: 4% 15% 0px 15%;
    font-size: large;
  }

  .eachItemRow{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 15px;
  }

  .productImage{
    order: 1;
  }

  .productImage img{
    border-radius: 10px;
    width: 230px;
  }

  .itemInfos{
    order: 2;
    gap: 5px;
    justify-content: center;
  }

  .modifyItem{
    order: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .removeBtn{
    width: 103px;
  }

  .countryDrop{
		border: 1px rgb(77, 77, 77) solid; 
		border-radius: 5px;
		padding: 8px;
	}

	.regionDrop{
		border: 1px rgb(77, 77, 77) solid; 
		border-radius: 5px;
		padding: 8px;
	}

	.countryDrop:focus{
		outline: none;
	}

	.regionDrop:focus{
		outline: none;
	}
  
  .checkoutForm{
    width: 50%;
    margin: 0 auto;
  }

  .checkoutHeading{
    margin: 2% 0% 2% 10%;
    font-size: x-large;
  }

  .proceedPayment{
    margin-top: 20px;
  }

  .formContainer{
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 0% 20% 2% 10%;
    padding: 4% 0% 4% 0%;
  } 

  .checkoutContainer{
    margin-top: 2%;
  }

  
  .backContainer{
    margin: 0% 0% 0% 10%;
  }

  .backContainer{
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .almostHeader{
    margin: 2% 0% 0% 2%;
  }

  .secureNote{
    margin: 0% 0% 2% 2%;
  }

  .cardElement{
    margin: 0% 2% 0% 2%;
  }

  .cardForm{
    width: 100%;
  }

  .summaryContainer{
    order: 2;
    margin: 0% 2% 2% 2%;
    width: 100%;
    padding-top: 0px
  }

  .paymentInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    margin-top: 2%;
  }

  .stripeCard{
    order: 1;
    width: 100%;
    margin-left: 2%;
  }


}