#payment-form {
    border: #F6F9FC solid 1px;
    border-radius: 10px;
    padding: 0 3% 3% 3%;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.2);
    width: 100%;
  }
  
  #messages {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    display: none; /* hide initially, then show once the first message arrives */
    background-color: #0A253C;
    color: #00D924;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    font-size:0.7em;
  }

  #submit {
    background-color: #2977ff;
  }
  
  #submit {
    background: #2977ff;
    border-radius: 8px;
    color: white;
    border: 0;
    padding: 12px 16px;
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
  }

  #submit:hover {
    filter: contrast(115%);
  }

  #submit:active {
    transform: translateY(0px) scale(0.98);
    filter: brightness(0.9);
  }

  #submit:disabled {
    opacity: 0.5;
    cursor: none;
  }

@media only screen and (max-width: 578px){}

@media only screen and (min-width: 579px) and (max-width: 768px){
    .paymentWrapper{
        padding: 3% 5% 0% 5%;
    }
}

@media only screen and (min-width: 769px){

    .paymentWrapper{
        margin-top: 2%;
    }

    .paymentInfo{
        gap: 5%;
    }
}


