.trackingContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 75vh;
    padding: 2% 5% 2% 5%;
}

.trackingDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.shippingFAQ{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 3%;
}

.shipmentInfo{
    display: flex;
    flex-direction: column;
    margin: 3% 0% 5% 0%;
}

.trackingHistory{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.typeRow{
    display: flex;
    flex-direction: row;
}

.infoLabel{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.infoRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}


.orderForm{
    width: 75%;
}

.trackButton{
    background-color: black;
    border: 1px solid #d5d9d9;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik";
    font-size: 13px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 40px;
    width: 100px;
  }
  
  .trackButton:hover {
    background-color: black;
  }
  
  .trackButton:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .additionalInfo{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
  }

  .additionalInfo span{
    margin-bottom: 2%;
  }
  
  @media only screen and (max-width: 578px){

    .trackingContainer{
        padding-top: 0%;
    }

    .trackingContainer{
        padding-top: 5%;
    }

    .shippingFAQ{
        padding-top: 10%;
        margin-top: 0%;
    }

}


@media only screen and (min-width: 579px) and (max-width: 768px){
    .trackingContainer{
        padding-top: 0%;
    }

    .shippingFAQ{
        margin-top: 0%;
    }

    .orderForm{
        width: 50%;
    }
}

@media only screen and (min-width: 768px){
    .orderForm{
        width: 40%;
    }
}
